.acordiao {
  margin: 20vh;
  margin-top: 2vh;
}
.textCenter {
  text-align: center;
  margin: 4vh;
  margin-top: 0%;
}
.textCenterr {
  padding-top: 2vh;
  text-align: center;
}
.pgprinc {
  width: 100%;
  margin-top: 0vh;
  background-color: rgb(180, 180, 180);
  padding: 2vh;
  padding-top: 0%;
}
.h3.display-3.textCenter {
  margin: 0%;
}

.lead {
  margin: 0 auto;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 3vh;
  text-align: center;
}
